body{
    background-image: linear-gradient( 109.6deg,  rgba(53,14,233,0.61) 21.5%, rgba(234,17,17,0.67) 41.2%, rgba(150,6,155,0.57) 93.5% );
   font-family: 'Comic Sans MS';
   font-weight: bolder;
   }
